   body {
      overflow-x: hidden;
    }

    /* Sidebar */
    #sidebar {
      width: 250px;
      min-width: 250px;
      max-width: 250px;
      background: #343a40;
      color: #fff;
      height: 100vh;
      position: fixed;
      top: 0;
      left: 0;
      transition: all 0.3s;
      overflow-y: auto;
      z-index: 998;
    }

    #sidebar.collapsed {
      margin-left: -250px;
    }

    #sidebar .header {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 1rem;
      font-size: 1.2rem;
      font-weight: bold;
      border-bottom: 1px solid #495057;
    }

    #sidebar .menu-item a {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0.75rem 1rem;
      color: #fff;
      text-decoration: none;
    }

    #sidebar .menu-item a:hover {
      background: #495057;
    }

    #sidebar .submenu {
      display: none;
      flex-direction: column;
      padding-left: 1rem;
    }

    #sidebar .menu-item.open .submenu {
      display: flex;
    }

    main {
      margin-left: 250px;
      padding: 2rem;
      transition: all 0.3s;
    }

    #sidebar.collapsed ~ main {
      margin-left: 0;
    }

    /* os dois controla o botão menu, e o hover vai ocultar*/
    #toggleSidebar {
      position: fixed;
      top: 1rem;
      left: 1rem;
      z-index: 999;
      background-color: #343a40; 
      border: none;               
      color: #fff;                
   }

   #toggleSidebar:hover {
    background-color: #49505749;  
   }

    @media (max-width: 768px) {
      #sidebar {
        margin-left: -250px;
      }
      #sidebar.collapsed {
        margin-left: 0;
      }
      main {
        margin-left: 0;
      }
      #sidebar.collapsed ~ main {
        margin-left: 250px;
      }
    }

body.login-bg {
  background: linear-gradient(135deg, #0d6efd, #003366);
}

/* cartão principal */
.login-card {
  background: rgba(0, 0, 0, 0.75);
  border-radius: 15px;
  width: 100%;
  max-width: 400px;
  color: #fff;
}

/* imagem de login */
.login-image {
  display: flex;
  justify-content: center;
}

.login-logo {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid #fff;
  box-shadow: 0 0 15px rgba(0,0,0,0.3);
}

/* inputs */
.form-control {
  border-radius: 10px;
  padding: 12px;
  font-size: 1.1rem;
}

/* botão */
.btn-primary {
  border-radius: 10px;
  background-color: #0d6efd;
  transition: 0.3s;
}

.btn-primary:hover {
  background-color: #0048b3;
}



/* Responsividade */
@media (max-width: 576px) {
  .login-card {
    padding: 2rem;
  }
  .login-image {
    max-width: 120px;
  }
}

.login-bg {
  background: url("../img/login_wallpaper.jpg") no-repeat center center fixed;
  background-size: cover;
}

