{% extends "base.html" %}
{% block content %}

<div class="container mt-4">
    <div class="card shadow-sm">
        <div class="card-body">
            <h2 class="card-title mb-4">➕ Cadastrar Fornecedor</h2>
            <form method="post">
                <div class="mb-3">
                    <label class="form-label">Nome Fantasia</label>
                    <input type="text" name="nome_fantasia" class="form-control" required>
                </div>
                <div class="mb-3">
                    <label class="form-label">Razão Social</label>
                    <input type="text" name="razao_social" class="form-control" required>
                </div>
                <div class="mb-3">
                    <label class="form-label">CNPJ</label>
                    <input type="text" name="cnpj" class="form-control" required>
                </div>
                
                <button type="submit" class="btn btn-primary">Salvar</button>
                <a href="#" class="btn btn-secondary">Voltar</a>
            </form>
        </div>
    </div>
</div>

{% endblock %}